{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} Techzara {% endblock %}

{% block body %}
    <section id="id-first-section" class="kl-services kl-section-with-title">
        <div><h1>Header Content</h1></div>
    </section>
    <section id="id-first-section" class="kl-services kl-section-with-title">
        <div><h1>New Content</h1></div>
    </section>
    <section id="id-first-section" class="kl-services kl-section-with-title">
        <div><h1>New Content</h1></div>
    </section>

    <section id="id-first-section" class="kl-services kl-section-with-title">
        <div><h1>New Content</h1></div>
    </section>
{% endblock %}




