@media screen and (max-width: 1366px){
	.kl-process-cnfianc{ background-position:1px 99px;}
}
@media screen and (max-width: 1326px){
	.kl-service-avantages{background-size: 1527px;}
}
@media screen and (min-width: 1199px){
	.col-sm-12.form-box.container{ width:1170px !important; margin:auto !important; float:none;}
}
@media screen and (max-width: 1199px){
	.kl-title-left-slide{ top:50px !important; left:25px !important;}
	.kl-bloc-slider h1{ font-size:45px;}
	.kl-bloc-slider h1 span{ font-size:38px;}
	.nav-mobile{ display:block;}
	.kl-nav-block{ display:none;}
	.kl-logo{ width:100%; text-align:center;}
	nav#slide-menu {
                background: #5db6d7;
                position: fixed;
                top: 0;
                left: -300px;
                bottom: 0;
                display: block;
                float: left;
                width: 100%;
                max-width: 293px;
                height: 100%;
                overflow: hidden;
                padding-bottom: 25%;
                -moz-transition: all 300ms;
                -webkit-transition: all 300ms;
                transition: all 300ms;
                z-index: 9999;
            }

	.icon-btn.slide-close {
		position: absolute;
		margin: 6px 20px 0 0;
		top: 0;
		right: 0;
		cursor: pointer;

	}

	/*display mobile sticky on mobile */
	.mobile-sticky {
		display: block;
	}

	/* mobile sticky styles */
	.inner-sticky {
		float: left;
		width: 100%;
		background: #DD3333;
	}

	.mobile-sticky ul {
		margin: 0;
		padding: 0;
	}

	.inner-sticky li {
		float: left;
		width: 33.33%;
		text-align: center;
		background: #5db6d7;
		padding: 6px 0;
		list-style-type: none;
	}

	.inner-sticky .fa, .inner-sticky a, nav#slide-menu a {
		color: #FFF;
	}

	body.menu-active nav#slide-menu {
		left: 0px;
	}

	.slide-close i.fa.fa-close {
		font-size: 2em;
		color: #fff;
		right: 0;
		border-radius: 50%;
		padding: 6px;
	}

	.menu-mobile .menu {
		margin-top: 9vh;
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.menu-mobile .menu li {
		list-style-type: none;
		display: block;
		font-size: 30px;
		border: solid 1px #fff;
		width: 90%;
		margin: 10px auto;
		text-align: center;
		border-radius: 7px;
	}
}
@media screen and (max-width: 992px){
	.kl-bg-blue-slide{ font-size:18px !important; top:225px !important;}
	.kl-bloc-slider h1{ font-size:45px;}
	.kl-bloc-slider h1 span{ font-size:28px;}
	.kl-services.kl-bg-blue{ background:#5db6d7;}
	.kl-services.kl-bg-blue .container{ text-align:center;}
	.kl-process-cnfianc{ background-position: 1px 505px;}
	.kl-list-process .col-md-3, .kl-list-process .col-md-2, .kl-list-cnfianc .col-md-2, .kl-list-cnfianc .col-md-3, .kl-list-ref .col-md-4{ margin-bottom:25px;}
	.kl-scroll-icon{ display:none;}
	.kl-list-ref .col-md-4{ padding:0px;}
	.kl-copyright{ margin-bottom:45px;}
	.col-sm-12.form-box.container{ width:760px !important; margin:auto !important; float:none;}
	.kl-bg-marionette{ display:none;}
	.kl-form-1{ background:inherit;}
}
@media screen and (max-width: 768px){
	footer .col-sm-3{ margin-bottom:25px; border-bottom:1px solid #ccc; padding-bottom:25px;}
	.col-sm-12.form-box.container{ width:100% !important; margin:auto !important; float:none;}
	.kl-bg-triangle-top{ display:none;}
	.kl-tech-desc{ padding-top:45px;}
}
@media screen and (max-width: 670px){
	.kl-list-avantages .pull-right{ float:none !important;}
}
@media screen and (max-width: 640px){
	.kl-bloc-slider h1 span{ font-size:18px;}
	.f1-step-icon{ margin-top:0px !important;}
}
@media screen and (max-width: 542px){
	.kl-process-cnfianc{ background-position: 1px 629px;}
}
@media screen and (max-width: 480px){
	.kl-desc-slide img{ width:100px !important; height:auto !important; float:right;}
	.kl-desc-slide{ text-align:right;}
	.f1-step-icon{ width:50px !important; height:50px !important; }
	.kl-list .f1-step-icon, .kl-avancee .f1-step-icon, .kl-user-info .f1-step-icon, .kl-payment .f1-step-icon{ background-size:27px !important; background-position: center 14px !important;}
	.form-box .f1-step.activated .f1-step-icon{ background-position: center -27px !important;}
}
@media screen and (max-width: 400px){
	.kl-bloc-slider h2, .kl-desc-slide{ text-align:right; font-size: 14px;}
	.kl-bloc-slider h1 span{ font-size:14px;}
	.kl-bloc-slider h1{font-size: 41px;}
	.kl-title-left-slide{ left:5px !important;}
	.kl-macBook img{ width:100%;}
}
/***Height***/
@media screen and (max-height: 524px){
	.kl-bg-blue-slide{ top: 177px !important;}
	.kl-title-left-slide{ top: 5px !important;}
}