body{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Comfortaa', cursive;
}
.kl-developpement-process{
    background-color: #39a9b8;
}
.kl-process-title{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: white;
    margin: 30px 0;
    padding: 30px 0;
}
.kl-process-title::after{
    font-size: 70px;
    font-weight: 300;
    letter-spacing: -0.035em;
    display: block;
    color: white;
}
.kl-solutions-flexibles{
    background-color: #f1f1f1;
    margin: 70px 0;
    padding: 40px 0 5px;
}
.kl-solution-flexible-title{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: #35a6b3;
}
.kl-solution-flexible-title::after{
    font-family: 'Maven Pro', sans-serif;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: -0.035em;
    display: block;
    color: black;
}
.kl-logiciels{
    color: #35a6b3;
    font-weight:400;
}
ul.kl-list-logiciels li{
    list-style-image:url("../images/puce.png");
    font-size: 17px;
}
.numformule {
    font-size: 24px;
    color:#35a6b3;
    font-weight: 300;
}
.kl-formule-1{
    margin: 20px 0;
    padding: 20px 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 17px;
}
.kl-formule-2{
    margin: 20px 0;
    padding: 20px 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 17px;
}
.kl-formule-3{
    margin: 20px 0;
    padding: 20px 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 17px;
}
.kl-environnement-maitrise{
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    color: #35a6b3;
    padding: 20px 0;
    margin-top: 40px;
}
.kl-environnement-maitrise::after{
    font-family: 'Maven Pro', sans-serif;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: -0.035em;
    display: block;
    color: black;
}
.kl-natif{
    font-family: 'Maven Pro', sans-serif;
    font-size: 48px;
    color: #35a6b3;
}
.kl-natif::after{
    font-family: 'Maven Pro', sans-serif;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: -0.035em;
    display: block;
    color: black;
}
.kl-text{
    font-size: 16px;
    margin: 20px 0;
    padding: 20px 0;
    font-family: Comfortaa;
    line-height:30px;
}
.kl-img-dev{
    margin-bottom: 30px;
    width: 1043px;
}