.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/*cookies*/
.cc-banner .cc-btn:last-child {
    background: #f76d32 !important;
}

section.cks{  padding: 139px 0;  }
section.cks li {  list-style: circle;  }
.kl-mention-legale{  padding-bottom: 60px;  }
.kl-copyright-box a{color:#d7d6d6; }
.kl-copyright-box a:hover{color:#3cadba; }

/*custom comet desgin*/
.kl-front-site #cometengage .cometengage_chat {  background: #2b2b2b;  }
.kl-front-site #cometengage .cometengage_chat-content.cometengage_left-cont {  float: left;  background: #ebebeb ;  color: #f76d32;  }
.kl-front-site #cometengage .cometengage_chat-content.cometengage_left-cont:after {  border-left: 10px solid #ebebeb ;  }
.kl-front-site #cometengage header,
.kl-front-site #cometengage .cometengage_sendButton{background: #3cadba !important;}
.kl-front-site #cometengage .cometengage_buttonSaveClass{background: #f76d32;  border: 1px solid #f76d32;}
.kl-front-site #cometengage .cometengage_buttonCancelClass{background: #2b2b2b;  border: 1px solid #2b2b2b;}
.kl-front-site #cometengage #cometengage_headerstatus{color: #f76d32;}

.crisp-13afxdx > a{opacity: 0 !important;}
