@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css");

@media (max-width: 600px) {
    .hidden-xs {
        display: none;
    }
}

.kl-sitemap{padding: 120px 0}

.kl-sitemap img {
    max-width: 100%;
}

.kl-sitemap a {
    color: #222;
    text-decoration: none;
    outline: none;
}

.kl-sitemap a:hover {
    color: #000;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.kl-sitemap dl {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.kl-sitemap dt {
    flex-basis: 30%;
    min-width: 30%;
    padding-right: 5%;
    margin: 0;
    padding-top: 15px;
    margin-bottom: 15px;
    border-top: 1px dotted #e1e3ea;
    text-align: right;
}

.kl-sitemap dd {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    margin-bottom: 15px;
    border-top: 1px dotted #e1e3ea;
    flex-basis: 65%;
    min-width: 65%;
}

.kl-sitemap hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #e1e3ea;
    border-bottom: 1px solid #ffffff;
}

.kl-sitemap input[type="text"],
.kl-sitemap input[type="password"],
.kl-sitemap input[type="number"],
.kl-sitemap input[type="tel"],
.kl-sitemap input[type="email"] {
    border: 1px solid #e5e5e5;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.kl-sitemap input[type="text"],
.kl-sitemap input[type="button"],
.kl-sitemap input[type="number"],
.kl-sitemap input[type="email"],
.kl-sitemap input[type="email"],
.kl-sitemap input[type="submit"],
.kl-sitemap input[type="password"],
.kl-sitemap input[type="passwords"],
.kl-sitemap button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.kl-sitemap input[type='number'] {
    -moz-appearance: textfield;
}

.kl-sitemap select {
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* List - Text - Link -------------------------------------------------------------- */
/* Select
-------------------------------------------------------------- */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #596377;
    opacity: 1;
    font-size: inherit;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #596377;
    opacity: 1;
    font-size: inherit;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #596377;
    opacity: 1;
    font-size: inherit;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #596377;
    opacity: 1;
    font-size: inherit;
}

::selection {
    background: #00A5B4;
    /* Safari */
    color: #fff;
}

::-moz-selection {
    background: #00A5B4;
    /* Firefox */
    color: #fff;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

/* Select-------------------------------------------------------------- */
/* MISC
-------------------------------------------------------------- */
.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-40 {
    padding-left: 40px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-40 {
    padding-right: 40px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 10px;
}

.pb-40 {
    padding-bottom: 40px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-40 {
    padding: 40px;
}

.p-50 {
    padding: 50px;
}

.p-60 {
    padding: 60px;
}

.p-0 {
    padding: 0 !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.banner img,
figure img {
    display: block;
}

.reset {
    margin-bottom: 0;
}

.reset td {
    padding: 0;
}

table.reset {
    width: 100%;
}

table.reset tr td {
    vertical-align: top;
    padding: 0 10px 5px 0;
    text-align: left;
}

.figure,
figure {
    overflow: hidden;
}

.figure img {
    height: 100%;
    max-width: none;
}

.figure,
figure {
    text-align: center;
    display: block;
}

.figure-2 {
    display: block;
    overflow: hidden;
}

.figure-2 img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.figure-2 span {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.figure-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.figure-3 img {
    width: auto;
    min-height: 0;
    max-height: 100%;
    display: inline;
}

.overhidden {
    overflow: hidden;
}

.muted {
    color: #596377;
}

.color {
    color: #00A5B4 !important;
}

.link {
    color: #222;
}

hr.line {
    border-top: 1px solid #e1e3ea;
}
hr.dashed {
    border-top: 1px dashed #e1e3ea;
}

img.align-left {
    float: left;
    margin: 8px 20px 10px 0;
}
img.align-right {
    float: right;
}
img.align-center {
    margin: 0px auto;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-center {
    text-align: center !important;
}

/* MISC --------------------------------------------- */
/* RESET BOOTSTRAP
-------------------------------------------------------------- */
.btn + .btn {
    margin-left: 20px;
}
.btn.btn-rounded {
    border-radius: 999em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.btn.btn-success {
    background-color: #D6E9C6;
    border-color: #D6E9C6;
}
.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active {
    background-color: #c9e2b4;
    border-color: #c9e2b4;
}
.btn.btn-success:focus:active {
    background-color: #bcdba1;
    border-color: #bcdba1;
}
.btn.btn-info {
    background-color: #27c5c3;
    border-color: #27c5c3;
}
.btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active {
    background-color: #23b0ae;
    border-color: #23b0ae;
}
.btn.btn-info:focus:active {
    background-color: #1f9a99;
    border-color: #1f9a99;
}
.btn.btn-warning {
    background-color: #f47631;
    border-color: #f47631;
}
.btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active {
    background-color: #f36619;
    border-color: #f36619;
}
.btn.btn-warning:focus:active {
    background-color: #e6590c;
    border-color: #e6590c;
}
.btn.bnt-danger {
    background-color: #e41919;
    border-color: #e41919;
}
.btn.bnt-danger:hover, .btn.bnt-danger:focus, .btn.bnt-danger:active {
    background-color: #cd1616;
    border-color: #cd1616;
}
.btn.bnt-danger:focus:active {
    background-color: #b61414;
    border-color: #b61414;
}
.btn.btn-primary {
    background-color: #00A5B4;
    border-color: #00A5B4;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background-color: #008e9b;
    border-color: #008e9b;
}
.btn.btn-primary:focus:active {
    background-color: #007681;
    border-color: #007681;
}
.btn.btn-outline-secondary:hover {
    background: #f7f7f7;
    border-color: #e1e3ea;
    color: #3f465e;
}

.dropdown-menu {
    border-color: #e1e3ea;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
.dropdown-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control:focus {
    border-color: #00A5B4;
}

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #00A5B4;
}
.custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 165, 180, 0.25);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #00A5B4;
}

/*-----------------------------
# [ Reset Bootstrap color]
----------------------------- */
.bg-primary {
    background-color: #00A5B4 !important;
}

.bg-success {
    background-color: #D6E9C6 !important;
}

.bg-info {
    background-color: #27c5c3 !important;
}

.bg-warning {
    background-color: #ffce02 !important;
}

.bg-danger {
    background-color: #e41919 !important;
}

.bg-dark {
    background-color: #252525 !important;
}

/* RESET BOOTSTRAP -------------------------------------------- */
.sitemap {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

.sitemap a {
    position: relative;
    z-index: 10;
    display: inline-flex;
    flex-direction: column;
    padding: .5em 1em;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    border-bottom-width: 3px;
    background: #f9f9f9;
    font-weight: 500;
    text-decoration: none;
    color: #595959;
}

.sitemap a:before {
    margin-bottom: .3em;
    content: attr(href);
    font-size: .8em;
    color: #aaa;
}

.sitemap-main {
    position: relative;
    flex: 1 1 100%;
    order: 3;
    margin-bottom: 1em;
}

.sitemap-main a {
    margin-bottom: .5em;
    margin-left: .2em;
}

.sitemap-main ul {
    position: relative;
    padding-left: 2em;
}

.sitemap-main > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.sitemap-main > ul > li {
    flex: 1 1 auto;
}

.sitemap li {
    margin-right: 1em;
    list-style: none;
}

/* Handle grid lines */
.sitemap-main li:before,
.sitemap-main li:after {
    display: inline-block;
    width: 1em;
    height: 2em;
    border: 2px solid #f2f2f2;
    border-right: none;
    border-top: none;
    content: "";
}

.sitemap-main li:after {
    position: absolute;
    left: 2em;
    bottom: 0;
    width: 2px;
    height: 100%;
}

.sitemap-main ul:before {
    position: absolute;
    left: 0;
    top: -2.75em;
    display: block;
    width: 2px;
    height: 100%;
    background: #fff;
    content: "";
}

.sitemap-main > ul:before {
    display: none;
}

.sitemap-main li:last-child:after {
    border-color: #fff;
    bottom: 0;
    height: 2.7em;
}

/* The home/top level link */
.sitemap-root {
    margin-bottom: 2em;
}

.sitemap-root > a {
    min-width: 8em;
    background: #C3BAAA;
    border-color: #aea28c;
    color: #fff;
}

.sitemap-root > a:before {
    color: #f2f2f2;
}

.sitemap-root > a:after {
    position: absolute;
    bottom: -2.6em;
    left: calc(2em - 1px);
    display: block;
    width: 2px;
    height: 2em;
    background: #f2f2f2;
    content: "";
}

.sitemap-main > ul > li > a {
    background: #f2e8dd;
    border-color: #e4cfb8;
}

.sitemap-main ul ul ul a {
    background: #fff;
}

.sitemap-aux {
    order: 3;
    font-size: .9em;
}

.sitemap-aux ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.sitemap-aux li {
    margin: 0 .5em .5em 0;
}

.sitemap-aux a {
    background: #FAF8D4;
    border-color: #f5f1a6;
}

@media (min-width: 420px) {
    .sitemap {
        justify-content: space-between;
    }

    .sitemap-aux ul {
        justify-content: flex-end;
    }
}
@media (min-width: 600px) {
    .sitemap-aux {
        order: 2;
    }
}
