body{font-family: 'Maven Pro', sans-serif; font-family: 'Comfortaa', cursive;}
html, body, .wrapper, .slider-wrapper{ height:100%;}
strong{ font-weight:normal;}
input{ border-radius:0px !important;}
.relative{ position:relative;}
.absolute{ position:absolute;}
.fixed{ position:fixed !important;}
.show{ display:block !important;}
.table{ display:table !important; height:100%;}
.table-cell{ display:table-cell !important; vertical-align:middle;}
.kl-no-padding{ padding-left:0px !important; padding-right:0px !important;}
.wrapper{ font-family:'Maven Pro';}
header.kl-header{ width:100%; background:rgba(1, 1, 1, .8); height:97px; border-bottom:1px solid #222223; z-index:99999;}
.kl-logo{ padding-top:10px;}
.kl-desk ul li a.nav-link{ padding:38px 15px !important; color:#fff; text-transform:uppercase; transition:0.5s; font-size:14px;}
.kl-desk ul li a.nav-link:hover, .kl-desk ul li.active a.nav-link{ color:#f76d32; box-shadow:0px -1px 0px 0px inset #f76d32; -webkit-box-shadow:inset 0px -1px 0px 0px #f76d32;}
.tp-caption h1{ color:#fff; font-weight:900; font-size:47px;}
.tp-caption h1 span{ font-family:"Comfortaa"; font-weight:300; font-size:40px; display:inline-block; background:rgba(247,109,50,.61); padding: 10px 35px; margin-top: 15px;}
.kl-services{ background:#f5f5f5;}
.kl-section-with-title{ padding:75px 15px;}
.kl-section-with-title h2{ color:#3cadba; font-family:"Maven Pro"; font-weight:bold; font-size:23px; position:relative; display:inline-block;}
.kl-section-with-title h2:after{ position:absolute; content:""; left:30%; bottom:-7px; width:70px; height:2px; background:#3cadba;}
.kl-color-dark{ color:#202020;}
.row.kl-block{ display:block !important;}
.kl-service-box-list{ margin-top:40px; color:#000; font-family:"Comfortaa"; font-size:16px;}
.kl-service-box-list .col-md-5{ border:1px solid #e6e6e6; position:relative; padding-left: 67px; padding-top:0px; padding-bottom:0px; margin-bottom: 40px;}
.kl-icon-box{ position:absolute; left:-47px; top:19%; width:95px; height:95px; background:linear-gradient(to right, #3cadba, #1d8d9a); box-shadow:1px 1px 6px #a9a9a9; border-radius:50%; padding-top: 29px;}
.kl-icon-box i{ font-size:35px;}
.kl-icon-box i.fas{ color:#fff;}
.kl-title-h3-bold{ font-family:"Maven Pro"; font-weight:bold; font-size:20px;}
.kl-service-box{ padding:15px; transition: background 0.5s ease; background:#fff; height:200px !important; margin-bottom:40px;  -webkit-transition: all 0.3s;  -moz-transition: all 0.3s;  transition: all 0.3s;
    color: #000; margin-bottom: 0px;}
.kl-service-box:hover, .service-selected{ background:linear-gradient(to right, #3cadba, #1d8d9a); color:#fff;}
.kl-service-box:hover .kl-icon-box, .service-selected .kl-icon-box{background: #fff;}
.kl-service-box:hover .kl-icon-box i, .service-selected .kl-icon-box i{color: #3cadba; }
.kl-difference{ background:#2b2b2b; color:#fff;}
.kl-bg-difference{ background:url('../images/bg-difference.jpg') repeat-y center/cover;}
.kl-difference .row{ margin:0px !important;}
.col-md-6.kl-list-difference{ padding:20px 30px;}
.kl-list-difference ol{list-style: none; counter-reset: li; padding-left:0px;}
.kl-list-difference ol li{ position:relative; counter-increment: li; list-style:none; float:left; width:49%; padding:15px 15px 15px 34px; min-height:156px;}
.kl-list-difference ol li:before{content: counter(li); color:#3cadba; position:absolute; left:0px; top:11px; padding:0px 9px; border: 1px solid #3cadba; font-weight:bold;}
.kl-list-difference ol li h3{ font-size:16px; font-weight:bold;}
.kl-list-difference ol li p{ margin-left:-33px; margin-bottom: 0px; font-family:"Comfortaa"; font-size:13px;}
.kl-nav-isotope{ text-align:center;}
.kl-nav-isotope li{ display:inline-block; margin-right: 15px;}
.kl-nav-isotope button{ background:#dcdcdc; color:#555555; border:none; padding:6px 22px; border-radius:30px;}
.kl-nav-isotope button.is-checked{ background:#3cadba; color:#fff;}
.filter-button-group{ margin-top:25px;}
.kl-box-site{ width:33.33333%; overflow:hidden;}
.kl-desc-real{ width:100%; height:100%; left:0px; top:0px; background:rgba(0,0,0,.7); text-align:center; z-index:9999; opacity:0; transition:0.5s; color:#fff;}
.kl-desc-real h3{ font-size:20px; font-family:"Comfortaa"; font-weight:bold; margin-bottom:15px; position:relative; display:inline-block;}
.kl-desc-real h3:before{ content:""; width:64px; height:1px; position:absolute; left:30%; top:-15px; background:#fff;}
.kl-box-site:hover .kl-desc-real{ opacity:1;}
.kl-desc-real a i{ background:#fff; padding: 15px; border-radius: 50%; margin-right:20px; color:#3cadba;  transition:0.5s;}
.kl-desc-real a i:hover{ background:#3cadba; color:#fff;}
#id-footer{ background:url('../images/bg-footer.jpg'); padding:75px 0px 10px 0px; color:#fff;}
#id-footer .container{ margin-bottom:50px;}
#id-footer h3{ font-size:20px; font-weight:bold; margin-bottom:25px;}
.kl-content-footer{ font-size:14px; color:#d7d6d6;}
.kl-rs a i{ color:#fff; background:#4e4e4e; width:42px; height:42px; border-radius:50%; text-align:center; padding-top: 12px; font-size: 17px; transition:0.5s; margin-right:10px;}
.kl-rs a i:hover{ background:#3cadba;}
.kl-content-footer ul{ padding-left:0px;}
.kl-content-footer ul li{ list-style:none; position:relative; padding-left:10px; margin-bottom:10px;}
.kl-content-footer ul li:before{ content:""; position:absolute; left:0px; top:7px; color:#d7d6d6; width:15px; height:15px; background:url('../images/icon-arrow-list-nav-footer_03.png') no-repeat;}
.kl-content-footer ul li a{ color:#d7d6d6; font-size:14px;}
.kl-content-footer.kl-contact-footer ul li:before{ display:none;}
.kl-content-footer.kl-contact-footer ul li i{ margin-right:10px; color:#3cadba;}
.kl-copyright-box{ border-top:1px solid #505051; padding:20px 15px 0px 15px; font-family:"Comfortaa"; font-weight:bold; font-size:16px;}
.kl-copyright-box span{ color:#3cadba;}
.kl-copyright-box p{ margin-bottom:0px;}
.tp-leftarrow, .tp-rightarrow{ display:none !important;}
/*Page site*/
#sitevitrine {background: #e7e7e7;
    background-size: auto auto;background-size: auto 35%;}
#sitevitrine h3 .bignum, #ecommerce  h3 .bignum {font-weight: bold;font-size: 50px;}
#sitevitrine h3, #webapp h3 {padding-top: 80px;}
#sitevitrine h3, #ecommerce h3, #webapp h3 {font-size: 60px; font-weight: bold; line-height: 60px;text-transform: none;color: #2395ac;margin-bottom: 0;}
#sitevitrine  h3::after, #ecommerce h3::after, #webapp h3::after {font-family: Larsseit-Bold,sans-serif; font-size: 48px; font-weight: 400; letter-spacing: -0.035em;content: "—";display: block;}
#sitevitrine h4{margin-top:7%;}
#sitevitrine ul, #ecommerce ul, #webapp ul {font-size: 20px;line-height: 33px;list-style: outside none none;margin-left: 0;padding-left: 0;}
#sitevitrine ul.logiciels, #ecommerce ul.logiciels {line-height: 24px; padding-bottom: 160px;}
#sitevitrine h4, #ecommerce h4 {color: #39a9b8;font-size: 30px;line-height: 72px;font-weight: 600;}
#sitevitrine ul.logiciels li, #ecommerce ul.logiciels li{float: left;text-align: center; width: 105px;}
#ecommerce .wpb_wrapper img{margin: 0 30px 30px 0;}
#webapp .wpb_wrapper img {margin: 30px 0 30px 30px;}
#ecommerce ul.logiciels li {float: left;text-align: center;margin-right: 30px;}
#ecommerce ul.paiement, #applications ul.logiciels {margin-left: 80px;}
.paiement i {margin-right:20px;color: #39a9b8}
#ecommerce ul.paiement{margin-left: 0!important;}
#ecommerce ul.paiement li {font-weight: bold;}
#webapp{background: rgb(57, 169, 184) none repeat scroll 0% 0%;}
#webapp.colorwhite h3, .colorwhite ul li, .colorwhite p, #webapp h4 {color: #fff;}
#webapp h4{font-weight: 600;font-size: 24px;letter-spacing: 0px;margin-bottom:30px!important;margin-top:30px!important;}
#webapp i {margin-right:20px;}
.kl-sep{margin:30px 0 30px 0;height: 1px;}

/*Menu mobile*/
.nav-mobile{ display:none;}
.nav-mobile.fixed{ z-index:999999999;}
/**/
.mobile-sticky { display: none; position: fixed; bottom: 0; left: 0; width: 100%; z-index: 99999;}
nav#slide-menu{display: none;}
#slide-menu ul{ padding-left:0px;}
nav#slide-menu ul li{ list-style:none;}
nav#slide-menu ul li a{ display:block; padding:15px; text-transform:uppercase; transition:0.5s; color:#fff;}
nav#slide-menu ul li a:hover{ background:rgba(45,160, 203, .8); text-decoration:none;}
.slide-close i{ color:#fff;}
.inner-sticky ul{ padding-left:0px;}
.inner-sticky li {
    float: left;
    width: 33.33%;
    text-align: center;
    background: #5db6d7;
    padding: 6px 0;
    list-style-type: none;
}
nav#slide-menu {
    background: #5db6d7;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    display: block;
    float: left;
    width: 100%;
    max-width: 293px;
    height: 100%;
    overflow: hidden;
    padding-bottom: 25%;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
z-index: 9999;}
body.menu-active nav#slide-menu {
    left: 0px;
}
.icon-btn.slide-close {
    position: absolute;
    margin: 6px 20px 0 0;
    top: 0;
    right: 0;
    cursor: pointer;
}
.inner-sticky .fa, .inner-sticky a, nav#slide-menu a {
    color: #FFF;
}

/*start page ils nous font confiance*/
.kl-bnr-INFC{background: url("../images/bg-INFC.jpg")no-repeat center/cover; height: 464px; width: 100%; max-width: 100%;}
li{list-style: none;}
a{text-decoration: none;}
a:hover{outline: none; text-decoration: none !important;}
.kl-tem{margin-top: 230px;}
.kl-tem li > a{font-family: 'Maven Pro', sans-serif; color: #fff; font-size: 20px; font-weight: 900; text-transform: uppercase; display: inline-block; padding: 25px 40px; text-align: center;}
.kl-noPadding{padding: 0;}
.kl-tem li{float: left;}
.kl-disable{ background: linear-gradient(60deg, #3cadba, #1f94a1 ); }
.kl-active > a{background: transparent; box-shadow: inset 0px 0px 0px 1px #fff; }
.kl-tem li:last-child{margin-left: 21px;}
.kl-start {  background: url(../images/comunautes-4.jpg)no-repeat center/cover;  padding: 160px 0;  }
.kl-start h3{font-size: 21px; color: #fff; text-align: center; padding: 0 15px;}
.more{text-align: center;}
.more > a{display: inline-block; background:#f76d32 ; padding: 15px 35px; border-radius:5px; color: #fff; margin: 50px 0 0; font-size: 20px;
    font-family: 'Maven Pro', sans-serif; font-weight: 700; text-transform: uppercase;transition: all 0.5s;  cursor: pointer; position: relative;}
.more > a span:after {  content: "\f144";  font-family: "Font Awesome 5 Free";  font-weight: 400;  color: #fff;  font-size: 26px;  position: absolute;  opacity: 0;  top:10px;  right: 30px;  transition: 0.5s;  display: inline-block;  font-style: normal;  font-variant: normal;  text-rendering: auto;  -webkit-font-smoothing: antialiased;  }
.more > a:hover span {  padding-right: 35px;  }
.more > a:hover{color: #fff;}
.more > a:hover span:after {  opacity: 1;  right: 35px;  }
.kl-bg-grey{background: #f5f5f5; padding: 110px 0;}
.kl-client-logo{display: block; width: 100%; padding: 0 30px;}
.kl-client-logo img{display: block; margin: 0 auto; }
.kl-active > a {  cursor: pointer;  display: inline-block;  position: relative;  -webkit-transition: all 0.3s;  -moz-transition: all 0.3s;  transition: all 0.3s;  overflow: hidden;  }
.kl-active > a:after {  content: '';  position: absolute;  z-index: 1;  -webkit-transition: all 0.3s;  -moz-transition: all 0.3s;
    transition: all 0.3s;  width: 100%;  height: 0;  top: 50%;  left: 50%;  background: linear-gradient(60deg, #3cadba, #1f94a1 );
    opacity: 0;  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);  transform: translateX(-50%) translateY(-50%) rotate(45deg);  }
.kl-active > a:hover{  color: #fff; text-decoration: none; }
.kl-disable > a:hover{ background:#1d8d9a ; box-shadow: 0 0 5px #000; text-decoration: none;}
.kl-active > a:hover:after {  opacity: 1;  height: 200%;  }
.kl-active > a span {  position: relative;  z-index: 2;  }
/*End page ils nous font confiance*/

/*Start page comment ça marche*/
.img-responsive{width: 100% !important;}
ul{list-style: none;}
.kl-banner{background: url('../images/Comment-ca-marche-bg.jpg'); height: 410px; background-size: cover;}
.kl-banner-app{background: url('../images/applications_02.jpg'); height: 410px; background-size: cover;}
.kl-banner-site{background: url('../images/sites_bg.jpg'); height: 410px; background-size: cover;}
.kl-banner-contact{background: url('../images/Contact_02.jpg'); height: 410px; background-size: cover;}
.kl-bg-grey-head{background-color: #e5e5e5;}
.kl-col-1 {padding-left: 125px !important;}
.kl-col-2 {padding-left: 173px !important;}
.kl-col-2 img{display: block;}
.kl-devis { margin-top: 60px; margin-left: 30px; background: #3cadba !important; border: solid 1px #3cadba !important; text-transform: uppercase; min-height: 57px;}
.kl-devis:hover { border: solid 1px #3cadba !important;}
.kl-col-1 h1 { font-size: 48px; color: #3cadba; text-transform: uppercase; font-weight: 400;}
.kl-col-1 h1:after{ font-size: 48px; font-weight: 400; letter-spacing: -0.035em; display: block;}
.kl-content-grey {padding-top: 30px; padding-bottom: 30px;}
.kl-col-1 p{font-size: 17px; line-height: 32px;}
.kl-specification{margin-top: 70px;}
.kl-specification h3, .kl-design h3, .kl-development h3, .kl-test h3, .kl-livraison h3, .kl-service h3 { font-size: 60px; color: #3cadba; font-weight: bold;}
.kl-number {font-size: 72px;}
.kl-specification h3:after, .kl-design h3:after, .kl-development h3:after, .kl-livraison h3:after, .kl-service h3:after{ font-size: 48px; font-weight: 400; letter-spacing: -0.035em; display: block;}
.kl-specification p, .kl-design p, .kl-development p, .kl-test p, .kl-livraison p, .kl-service p { font-size: 16px; line-height: 32px; margin-bottom: 1.5em;}
.kl-content, .kl-content-design, .kl-col-3-1, .kl-content-livraison, .kl-content-service{ border-bottom-color: #ececec !important; border-bottom-style: solid; border-bottom-width: 1px;}
.kl-content-design{margin-top: 27px; padding-bottom: 30px;}
.kl-content-development, .kl-content-service{margin-top: 30px;}
.kl-contact-col1{background-color: #5b5b5e !important; height: 280px; position: relative !important; top: -34px;}
.kl-info-contact h3 {color: #3cadba; text-transform: uppercase; text-align: right; border: 4px solid #3cadba; padding: 10px; font-weight: normal; max-width: 270px; width: 90%; float: right; margin-bottom: 25px;}
.kl-info-contact{padding-top: 50px;}
.info-mail{float: right; margin-right: 15px;}
#id-mail a, #id-tel a{color: #fff; font-size: 14px;}
#id-mail a:hover, #id-tel a:hover{text-decoration: none;}
#id-mail{margin-bottom: 20px;}
#id-tel{margin-left: 32px;}
#id-tel a { vertical-align: sub; margin-right: 24px;}
.border-right { border-right: solid 1px #fff !important; vertical-align: middle;}
.kl-contact-col2 {margin-top: 45px; padding-left: 100px !important;}

input[type=text], input[type=email], input[type=tel] {border-radius: 0 !important; background-color: #f3f3f3!important; margin-bottom: 20px; border: 1px solid #e0e0e0;height: 47px; font-size: 16px;}
.kl-choice { font-weight: 500; color: #212121; margin-top: 20px; margin-bottom: 40px; font-size: 24px;}
.form-check-label {font-size: 17px;cursor: pointer; margin-bottom: 20px !important; margin-left: 20px !important;}
input[type=file]{border: 0 !important; white-space: normal;}
textarea#message { border: 1px solid #e0e0e0; margin-bottom: 20px; background-color: #f3f3f3!important; border-radius: 0 !important; height: 135px;}
.submit { margin-bottom: 20px; background-color: #3cadba !important; border-radius: 8px !important; color: #fff !important; text-align: center !important; text-decoration: none; font-size: 22px !important; margin: 10px; padding: 8px 32px !important; border: solid 1px #3cadba !important; text-transform: uppercase;}
/*End page comment ça marche*/

/*Start page temoignage*/
#temoignage {  width: 100%;  background: #fafafa;  border-radius: 30px;  overflow: hidden;  padding: 30px;  }
.kl-carousel-tem h1 {  color: #3cadba;  font-family: "Maven Pro";  font-weight: bold;  font-size: 23px;  position: relative;  display: inline-block;  margin: 20px auto;  }
.kl-line {  height: 3px;  background: #3cadba;  width: 67%;  display: block;  margin: 15px auto;  }
.kl-carousel-tem {  background: #f5f5f5;  padding: 45px 0;  }
.carousel-indicators{display: none;}
.carousel-item {  text-align: center;  }
.carousel-control-next, .carousel-control-prev {  width: 8% !important;  }
#temoignage i {  width: 44px;  height: 32px;  background: #3cadba;  font-size: 24px;  line-height: 32px;  text-align: center;  }
.kl-aut p{color:#9e9e9e !important; font-size: 18px !important; font-family: 'Maven Pro', sans-serif; }
.kl-aut p span{color:#424242 ; font-weight: 700; }
.carousel-item p{font-size: 16px; color: #919191;}
.kl-title-img img{margin: 30px 0;}
/*End page temoignage*/

.kl-bg-difference h2{font-family: 'Maven Pro', sans-serif; font-weight: 700; color: #fff; background: rgba(0,0,0,0.54);
    padding: 43px; display:block; text-transform: uppercase; text-align: center; width: 75%; text-align: center; margin: 0 auto;}
.kl-bg-difference h2 span{color: #3cadba; margin-left: 8px;}
.kl-under-line{width: 30%; height: 3px; background: #3cadba; display: block; margin: 15px auto 0 !important; }
.kl-bg-difference .align-items-center{height: 100%;}
.kl-nav-isotope button:hover, .kl-nav-isotope button:focus{outline: none;}
/*New adds*/
.kl-specific-nav{ display:block; right:0px; padding:36px 25px; background:#f76d32; color:#fff; transition:0.5s;}
.kl-specific-nav:hover{ color:#fff; background:#3cadba;}
nav#slide-menu ul li a.kl-specific-nav{ background:#fff; color:#5db6d7;}
.hide{ visibility:hidden;}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
.kl-portfolio{ display:none;}
.kl-pdg-footer-widget{ padding-left:55px !important;}
/*new link*/
.kl-service-box:hover{color: #fff;}
.kl-service-box-list p{ margin-bottom:0px;}
.kl-developpement-process .img-fluid.kl-img-dev{ display:block; margin-left:auto; margin-right:auto;}
.kl-article{ font-size:18px ; font-weight: bold}
.kl-title-bloc .kl-title-page{  padding-top: 136px;  }